<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.petsmate.mapper.boardMapper">

	<!-- 작성 -->
	<insert id="write">
		insert into `myBoard` (title, content,
		writer,regDate,password)
		values
		(#{title}, #{content}, #{writer}, now(),
		#{password})
	</insert>

	<!-- 조회 -->
	<select id="read" resultType="boardVO">
		select * from myBoard where bno =
		#{bno}
	</select>

	<!-- 수정 -->
	<update id="update">
		update myBoard
		set
		title = #{title},
		content =
		#{content}
		where bno = #{bno}
	</update>

	<!-- 삭제 -->
	<delete id="delete">
		delete from
		myBoard
		where bno = #{bno}
	</delete>

	<!-- 목록 -->
	<select id="list" resultType="com.petsmate.domain.BoardVO">
		select bno, title, writer, regDate
		from myBoard order by bno desc
	</select>

	<!-- 페이징 -->
	<select id="listPage" resultType="com.petsmate.domain.BoardVO"
		parameterType="com.petsmate.domain.Criteria">

		select * from(
		select * from myBoard order by bno asc
		) myBoard
		limit 0, 10

	</select>

	<select id="listCount" resultType="int">
	<![CDATA[
		select count(bno)
			from myBoard
				where bno > 0
	]]>
	</select>

</mapper>